{{> navbar }}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="notfound-page">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="notfound-details">
                    Sorry, the page you requested was not found!
                </div>
                <div class="notfound-actions">
                    <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .notfound-page {
        padding: 40px 15px;
        text-align: center;
    }
    
    .notfound-actions {
        margin-top: 15px;
        margin-bottom: 15px;
    }
</style>