<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/lib/fabric/fabric.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_DzzYoHNMdyJYe53zW5j81EqRwv7r3RY"></script>
  </head>
  <body>
    <form id="form" action="/api/question/create" method="POST" class="col-sm-4 col-sm-offset-4">
        <input type="hidden" name="id" id="id" value={{id}}>
        <input type="hidden" name="lat" id="lat" value="">
        <input type="hidden" name="lon" id="lon" value="">
        <input type="hidden" name="heading" id="heading" value="">
        <input type="hidden" name="pitch" id="pitch" value="">
        <input type="hidden" name="zoom" id="zoom" value="0">
        <div class="form-group">
            <label>Decision Time</label>
            <input name="decisionTime" type="number" class="form-control" min="1" max="5" value="1">
        </div>
        <div class="form-group">
            <label>Correct Decision</label>
            <select name="decision" class="form-control" required>
                <option value="stop">Stop</option>
                <option value="move">Move</option>
            </select>
        </div>
        <hr>
        <h2>Questions</h2>
        <div id="questions">
            <div class="form-group">
                <label>Question 1</label>
                <input name="question" type="text" class="form-control">
            </div>
        </div>
        <p>
            <label>Add new question</label>
            <button id="addQuest" type="button" class="btn btn-default">+</button>
        </p>
        <hr>
        <p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sceneryPickerModal">
                Choose scenery
            </button>
        </p>
        <br />
        <div id="signs">
            {{#each signs}}
                <img draggable="true" src="/images/signs/small/{{this}}"></img>
            {{/each}}
        </div>
        <br />
        <p><button type="button" class="btn btn-default" onClick="deleteObject()">Delete selected</button></p>
        <div id="canvas-container">
            <canvas id="c">

            </canvas>
        </div>
        <hr>
        <input type="submit" value="Submit">
    </form>

    <!-- Modal -->
    <div class="modal fade" id="sceneryPickerModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">
                        Choose scenery
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h3>
                </div>
                <div class="modal-body">
                    {{> sceneryPicker}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="saveScenery" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>