{{> navbar }}
<div class="first-after-navbar">
    <div class="container">
        {{> breadcrumb }}
        <h2>Welcome {{ title }}</h2>
        <br/>
            </tbody>
        </table>
    </div>
</div>