{{> navbar }} {{> breadcrumb }}
<div class="first-after-navbar">
    <div class="container">
        <div class="list-group">
        {{#each questions as |question key|}}
            <a href="questions/{{question.id}}" class="list-group-item">{{question.statement}}</a>
        {{/each}}
        </div>
    </div>
</div>
