{{> navbar }}
<div class="first-after-navbar">
    <div class="container">
        <div class="jumbotron text-xs-center">
            <h1 class="display-3">Thank You!</h1>
            <p class="lead">Your participation can help us improve road planning and design. We thank you for your time and effort!</p>
            <hr>
            <p>
                Want to know more? <a rel="nofollow" rel="noreferrer" href="https://github.com/gtugablue/Road-Behaviour-Simulator">Check our GitHub page.</a>
            </p>
            <p class="lead">
                <a rel="nofollow" rel="noreferrer" class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
            </p>
        </div>
    </div>
</div>