{{> navbar }} {{> breadcrumb }}
<div class="first-after-navbar">
    <div class="container">
        <div class="list-group">
        {{#each scenes as |scene key|}}
            <a href="scenes/{{scene.id}}" class="list-group-item">{{scene.statement}}</a>
        {{/each}}
        </div>
    </div>
</div>
