{{> navbar }} {{> breadcrumb }}
<div class="first-after-navbar">
    <div class="container">
        {{#if scenes}}
            <div class="list-group">
            {{#each scenes as |scene key|}}
                <a href="scenes/{{scene.id}}" class="list-group-item">{{scene.statement}}</a>
            {{/each}}
            </div>
        {{else}}
            <p>No scenes in this quiz.</p>
            <a href="quizzes/{{id}}/scenes" class="btn btn-primary">Criar</a>
        {{/if}}
    </div>
</div>
