<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="lib/fabric.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="javascripts/streetview.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_DzzYoHNMdyJYe53zW5j81EqRwv7r3RY"></script>
  </head>
  <body>
    <div id="coordsBox">
        Latitude: <input type="text" id="latitude" value="41.2109862"><br>
        Longitude: <input type="text" id="longitude" value="-8.5570239"><br>
        <input type="submit" class="btn btn-default" value="Change Location">
    </div>
    <div name="signs">
        <button type="button" class="btn btn-default" click="addSign('stop')">Stop</button>
        <button type="button" class="btn btn-default" onClick="addSign('priority')">Priority</button>
        <button type="button" class="btn btn-default" onClick="deleteObject()">Delete</button>
    </div>
    <canvas id="c">

    </canvas>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sceneryPickerModal">
        Choose scenery
    </button>

    <!-- Modal -->
    <div class="modal fade" id="sceneryPickerModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{> sceneryPicker }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
  {{ body }}
  </body>
</html>