<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="lib/fabric/fabric.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="javascripts/streetview.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="coordsBox">
        <div>Latitude: <input type="text" id="latitude" value="41.2109862"></div>
        <div>Longitude: <input type="text" id="longitude" value="-8.5570239"></div>
        <input id="changeLocation" type="submit" class="btn btn-default" value="Change Location">
    </div>
    <div name="signs">
        <button type="button" class="btn btn-default" onClick="addSign('stop')">Stop</button>
        <button type="button" class="btn btn-default" onClick="addSign('priority')">Priority</button>
        <button type="button" class="btn btn-default" onClick="deleteObject()">Delete</button>
    </div>
    <form action="/create" method="POST">
        <label>Questions</label>
        <div id="questions">
            <div>
                <label>Question 1</label>
                <input name="question" type="text">
            </div>
        </div>
        <label>Add new question</label>
        <button id="addQuest" type="button" class="btn btn-default">+</button>
        <input type="submit" value="Submit">
    </form>
    <canvas id="c">

    </canvas>
  </body>
</html>