/*.body-container {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/

a {
    color: #00B7FF;
}

/* ERROR PAGES */

.notfound-page {
    padding: 40px 15px;
    text-align: center;
}
    
.notfound-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* STICKY FOOTER */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 50px;

    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #f5f5f5;
}

.footer p {
    margin-top: 17px;
}

body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

/* STREETVIEW CANVAS */

.first-after-navbar {
    padding-top: 50px;
}

.photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#sceneryPickerCanvas {
    width: 100%;
    height: 500px;
}

#sceneryPickerCanvas, #sceneryPickerCanvas * {
    box-sizing: content-box;
}

#signs {
    background-color: #f5f5f5;
}

#signs img {
    cursor: move;
    margin: 15px;
}

/* QUIZ PAGE BUTTONS */

.quiz-btns-row {
    margin-top: 5px;
}