<footer class="footer navbar-fixed-bottom">
    <div class="container text-muted">
        <p>Road Behaviour Simulator - <a href="https://github.com/gtugablue/Road-Behaviour-Simulator" target="_blank">GitHub <i class="fa fa-github-square" aria-hidden="true"></i> </a></p>
    </div>
</footer>