<div id="coordsBox">
    <p>Please choose the scenery by introducing the coordinates and making adjustments on the view.</p>
    <div class="form-group">
        <label>Latitude</label>
        <input type="number" id="latitude" class="form-control" value="41.2109862">
    </div>
    <div class="form-group">
        <label>Longitude</label>
        <input type="number" id="longitude" class="form-control" value="-8.5570239">
    </div>
    <p>
        <input id="updateLocation" type="submit" class="btn btn-primary" value="Update Location">
    </p>
</div>
<div id="sceneryPickerCanvas"></div>